### 01 서울시 구별 CCTV 현황 분석
**[학습목표]**
1. 서울시 구별 CCTV 데이터 파악, 인구대비 파악
2. 인구대비 평균치 파악, 구별 과부족 파악
3. pandas 사용법, 시각화(matplotlib)
4. 단순한 그래프로 시각화

In [4]:
# Pandas : 데이터 처리 기능
# 데이터 타입(데이터 저장 방식) 2개 있다
# 1. Series class : 컬럼을 다룬다, 1차원 데이터 => new => object(속성, 메소드)
# 2. DataFrame class(속성, 메소드) : 행렬(행X열)을 다룬다, 2차원 데이터, Series가 모여서 DataFrame
import numpy as np
import pandas as pd # 별칭

In [16]:
# pandas 데이터 파일 읽기 : csv 파일
# pd.read_csv(파일, encoding='utf-8')
CCTV_Seoul = pd.read_csv('./data/01. CCTV_in_Seoul.csv', encoding='utf-8')
# CCTV_Seoul : DataFrame object .head() : 메소드 => 앞에서 5개 ROW 표시
# CCTV_Seoul.head()
CCTV_Seoul.tail() # 뒤에서 5개

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
22  종로구  1002        464    314    211    630
23   중구   671        413    190     72    348
24  중랑구   660        509    121    177    109

In [20]:
# DataFrame 기본 구조
# CCTV_Seoul.index : 행 정보
# CCTV_Seoul.columns : 컬럼 정보
# CCTV_Seoul.values : 데이터
# 컬럼 추출
print(CCTV_Seoul.columns)
# 첫번째 컬럼명 추출
print(CCTV_Seoul.columns[-1])

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')
2016년

In [21]:
# 데이터 구조 파악
CCTV_Seoul.describe() # 수치 데이터에 대한 통계량

                소계    2013년도 이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [22]:
# 데이터 전체 구조 파악
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [23]:
# 컬럼명 변경 : rename()
# 기관명 -> 구별
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'}) # Dict

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [25]:
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [26]:
# 컬럼명 변경 방법
# 1. 변경후 대입
# CCTV_Seoul_구별 = CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'})
# 2. inplace=True : 원본에 반영
# CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'}, inplace=True)
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'}, inplace=True)

In [27]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [29]:
## 인구현황 데이터 읽기 
# xls => xrld, xlsx => openyxl
POP_Seoul = \
pd.read_excel('./data/01. population_in_Seoul.xls')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.