In [2]:
# 정의만 한것이다. => 실행된 것 아니다
# name space(이름 공간)에 함수명 등록
def sum(a,b):
    return a + b

In [9]:
print(sum(1,3))

4

In [10]:
# 파라미터 여러개 받기
def sum_many(a,b):
    sum = a + b
    return sum

In [12]:
def sum_many(* param):
    sum = 0
    for i in param:
        sum += i
    return sum

In [14]:
print(sum_many(1,2,3,4,5))

15

In [15]:
# 입력값 가변, 두가지 연산 (+,*)하는 함수

def sum_mul(*param, op):
    if op == '+':
        result = 0
        for i in param:
            result += i
    elif op == '*':
        result = 1
        for i in param:
            result *= i
    return result

In [19]:
sum_mul('*',3,3)

TypeError: sum_mul() missing 1 required keyword-only argument: 'op'

In [21]:
# sum, mul 
def sum_and_mul(a,b):
    return a+b, a * b
    return a*b

print(sum_and_mul(1,2))

(3, 2)

In [25]:
# return
def say_nick(nick):
    if nick == '바보':
        pass
    else:
        print(f'나의 별명은 {nick} 입니다.')

say_nick('천재')

나의 별명은 천재 입니다.

In [32]:
#default value 처리
def say_myself(name,man,age):
    print(f'나의 이름은 {name} 입니다.')
    print(f'나의 나이는 {age} 입니다.')
    if man:
        print('남자다')
    else:
        print('여자다')

data1 = {'name':'홍길동','age':30,'man':True}
data2 = {'name':'고길동','age':35,'man':True}
data3 = {'name':'김동준','age':27,'man':True}

In [33]:
say_myself(**data3)

나의 이름은 김동준 입니다.
나의 나이는 27 입니다.
남자다

In [34]:
# Positional Argument
# def say_myself(man=True, name, age): #디폴트 처리 파라미터는 맨 뒤로 가야 한다.
# def say_myself(name, man=True, age): #디폴트 처리 파라미터는 맨 뒤로 가야 한다.

In [38]:
# 지역 변수의 범위
# a = 1
# def vartest(a):
#     a = a + 1
#     return None


def vartest(a):
    a = a + 1
    return None

print(vartest(a))
print(a)

None
1

In [40]:
# input()
a = input()
print(a)

그만

In [42]:
a = input('이름 입력 : ')
print(a)

In [46]:
number = input('숫자입력 : ')
print(type(int(number)))

ValueError: invalid literal for int() with base 10: ''

In [54]:
# print()
print(1,2,3,4,  end=',')
print(1,2,3,4)
print(1,2,3,4)
print(1,2,3,4)

1 2 3 4,1 2 3 4
1 2 3 4
1 2 3 4

In [55]:
a =  "aya", "ye", "woo", "ma"
print(a)

('aya', 'ye', 'woo', 'ma')